{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx",
        "*.mts",
        "*.mtsx",
        "*.cts",
        "*.ctsx",
        "*.json",
        "*.mjs",
        "*.json5"
      ],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": [
        "*.json5"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
