<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>592A5469-E8CF-4416-BA75-0E8A30D5FA1E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Open Jira Ticket</string>
			<key>url</key>
			<string>https://jira.cvent.com/browse/{query}</string>
		</dict>
	</dict>
</dict>
</plist>
