<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CC987BF-9EBF-4F4D-9211-FD5D0FC3A4A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41F70925-C4E1-40CB-85C6-601BEF6C9BEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A06217A-8398-4240-9604-9F98153A77BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55F55540-B914-4B39-8802-9B030F6FE26E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41F70925-C4E1-40CB-85C6-601BEF6C9BEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9209C2BD-4993-4252-B75E-E18C088C4490</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FCD203B-289A-4FE8-8C22-606EEB1B21E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07C533D8-3944-48F4-BB19-6FD096147D6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55F55540-B914-4B39-8802-9B030F6FE26E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9DC9D6D-FEAC-450B-BB17-3A092C6E5A7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>562DAFEF-C0C7-477B-9C36-32BBB0A7762D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BC678CE-22CB-48A8-B854-A57DF7AD2BBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BC678CE-22CB-48A8-B854-A57DF7AD2BBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E5FEB17-9808-4BBC-B427-5C049B73C6FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E203B10A-435E-4213-874D-A6D3D63BF646</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FEB311CD-9114-41B1-9F53-872E4EC0E892</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E5FEB17-9808-4BBC-B427-5C049B73C6FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FCD203B-289A-4FE8-8C22-606EEB1B21E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9209C2BD-4993-4252-B75E-E18C088C4490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>562DAFEF-C0C7-477B-9C36-32BBB0A7762D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9DC9D6D-FEAC-450B-BB17-3A092C6E5A7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CC987BF-9EBF-4F4D-9211-FD5D0FC3A4A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FEB311CD-9114-41B1-9F53-872E4EC0E892</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FCD203B-289A-4FE8-8C22-606EEB1B21E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>On the current desktop, opens the appropriate projects and layouts windows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Setup Project</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ls -m ~/github</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55F55540-B914-4B39-8802-9B030F6FE26E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>setup project</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Setup Project</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A06217A-8398-4240-9604-9F98153A77BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>projects</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D9DC9D6D-FEAC-450B-BB17-3A092C6E5A7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>ObjC.import("stdlib")

function run() {
	const projects = $.getenv("projects")

	const mappedResult = projects
		.split(',')
		.map(s =&gt; s.trim())
		.map(s =&gt; ({
			"uid": s,
			"title": s,
			"arg": s
		}));
	console.log(mappedResult);
	return JSON.stringify({"items": mappedResult});
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0CC987BF-9EBF-4F4D-9211-FD5D0FC3A4A4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>selected_project</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>41F70925-C4E1-40CB-85C6-601BEF6C9BEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.zshrc

nohup idea ~/github/$selected_project &gt; /dev/null 2&gt;&amp;1 &amp;

sleep 1.5s

open -g "rectangle://execute-action?name=right-half"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8E5FEB17-9808-4BBC-B427-5C049B73C6FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var query = argv[0];
  if (query.includes("java")) {
   return "intellij"
  } {
   return "code"
  }
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>562DAFEF-C0C7-477B-9C36-32BBB0A7762D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo $(less ~/github/$selected_project/.tool-versions)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9209C2BD-4993-4252-B75E-E18C088C4490</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>intellij.*?</string>
						<key>outputlabel</key>
						<string>intellij</string>
						<key>uid</key>
						<string>E203B10A-435E-4213-874D-A6D3D63BF646</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>code</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7BC678CE-22CB-48A8-B854-A57DF7AD2BBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.zshrc

code -n ~/github/$selected_project

sleep 1.5s

open -g "rectangle://execute-action?name=right-half"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FEB311CD-9114-41B1-9F53-872E4EC0E892</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Firefox -n

sleep 1.5s

open -g "rectangle://execute-action?name=top-left"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>07C533D8-3944-48F4-BB19-6FD096147D6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Ghostty ~/github/$selected_project -n

sleep 1.5s

open -g "rectangle://execute-action?name=bottom-left"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4FCD203B-289A-4FE8-8C22-606EEB1B21E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07C533D8-3944-48F4-BB19-6FD096147D6B</key>
		<dict>
			<key>note</key>
			<string>opening firefox</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>0CC987BF-9EBF-4F4D-9211-FD5D0FC3A4A4</key>
		<dict>
			<key>note</key>
			<string>filter projects</string>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>1A06217A-8398-4240-9604-9F98153A77BC</key>
		<dict>
			<key>note</key>
			<string>setup project keyword</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>41F70925-C4E1-40CB-85C6-601BEF6C9BEE</key>
		<dict>
			<key>note</key>
			<string>setting selected_project variable</string>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>4FCD203B-289A-4FE8-8C22-606EEB1B21E4</key>
		<dict>
			<key>note</key>
			<string>openning ghosty</string>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>55F55540-B914-4B39-8802-9B030F6FE26E</key>
		<dict>
			<key>note</key>
			<string>get list of github projects</string>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>562DAFEF-C0C7-477B-9C36-32BBB0A7762D</key>
		<dict>
			<key>note</key>
			<string>determine project app intellij | code</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>7BC678CE-22CB-48A8-B854-A57DF7AD2BBD</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>8E5FEB17-9808-4BBC-B427-5C049B73C6FB</key>
		<dict>
			<key>note</key>
			<string>opening intellij</string>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>9209C2BD-4993-4252-B75E-E18C088C4490</key>
		<dict>
			<key>note</key>
			<string>output .tool-versions</string>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>D9DC9D6D-FEAC-450B-BB17-3A092C6E5A7E</key>
		<dict>
			<key>note</key>
			<string>setting projects variable</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>FEB311CD-9114-41B1-9F53-872E4EC0E892</key>
		<dict>
			<key>note</key>
			<string>opening code</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
